<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="easyui-panel" title="" style="width:100%" >
    <div style="padding:10px 60px 20px 60px">
        <form id="taskForm" method="post">
            <table cellpadding="5" width="100%">
                <tr>
                    <td>任务名称:</td>
                    <td><input class="easyui-textbox"  name="name" data-options="required:true,width:500" th:value="${task.name}" /></td>
                </tr>
                <tr>
                    <td>微信用户:</td>
                    <td>
                        <input class="easyui-combobox" name="user" id="tp-user"
                               data-options="method: 'get',multiple:true,valueField:'openid',textField:'name',url:'user/getUsers', width:500, onLoadSuccess: selectUser">
                    </td>
                </tr>

                <tr>
                    <td>设备资源:</td>
                    <td>
                        <input type="button" value="选择资源..." onclick="openResourceWin()">
                        <input type="hidden" name="resources" id="resourcesId" value=""/>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div id="resourceResults">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>推送类型：</td>
                    <td>
                        <div>
                            <input class="easyui-checkbox" type="checkbox" name="pushType" id="tp-pushType1" value="image" label="图片">图片
                        </div>
                        <div>
                            <input class="easyui-checkbox" type="checkbox" name="pushType" id="tp-pushType2" value="video" label="视频">视频
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>开始时间：</td>
                    <td>
                        <input class="easyui-timespinner" style="width:80px;" id="tp-executeTime" value="00:00:00" type="text"
                               required="required" data-options="showSeconds:true">
                    </td>
                </tr>

                <tr>
                    <td>持续时长：</td>
                    <td>
                        <input type="text" id="durationTime" class="easyui-numberbox" value="10" data-options="max:300">秒
                    </td>
                </tr>
            </table>
            <input type="hidden" name="id" th:value="${task.id}">
        </form>
        <div id="dlg-buttons">
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveTask()">保存</a>
        </div>
    </div>

    <div id="resourceWin" class="easyui-window" title="选择设备资源" style="width:800px;height:600px"
         data-options="iconCls:'icon-save',modal:true,closed:true">
    </div>
</div>



<script th:inline="javascript">

    var detailJson;
    $(document).ready(function() {
        var detail = [[${task.detail}]];
        detailJson = JSON.parse(detail);
        //$("#tp-user").combobox("setValues", detailJson.users);
        $("#resourcesId").val(JSON.stringify(detailJson.deviceResource));

        var resources = detailJson.deviceResource;
        var resourceResults = "";
        for (var i = 0; i < resources.length; i++) {
            resourceResults += "<li>设备:" + resources[i].devName + ", 资源: " + resources[i].resName + "</li>";
        }
        $("#resourceResults").html("<ul>"+ resourceResults + "</ul>");


        $('input:checkbox[name="pushType"]').each(function() {
            for (var i = 0; i < detailJson.pushType.length; i++ ) {
                if (detailJson.pushType[i] == $(this).val()) {
                    $(this).attr("checked", true);
                }
            }
        });

        setStartTime();

        setDuration();

    });

    function setStartTime(){
        if (detailJson.startTime) {
            var hours = detailJson.startTime.hours;
            var minutes =detailJson.startTime.minutes;
            var seconds = detailJson.startTime.seconds;

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var time = hours + ":" + minutes + ":" + seconds;
            $("#tp-executeTime").val(time);
        }
    }

    function setDuration() {
        if (detailJson.duration) {
            $('#durationTime').val(detailJson.duration);
        }
    }


    function formLoade() {
        alert("formLoade");
    }

    function selectUser() {
        $("#tp-user").combobox("setValues", detailJson.users);
    }


    function saveTask() {
        $("#taskForm").form("submit", {
            url: '/task/' + [[${task.id}]],
            onSubmit: function(param) {
                param.type = 2;
                var hours = $("#tp-executeTime").timespinner("getHours");
                var minutes = $("#tp-executeTime").timespinner("getMinutes");
                var seconds = $("#tp-executeTime").timespinner("getSeconds");
                param.cronExpress = seconds + " " + minutes + " " + hours + " * * ?";

                var openids = $("#tp-user").combobox("getValues");
                if (!openids || openids.length == 0) {
                    alert("请选择用户");
                    return false;
                }
                var resourceIds = JSON.parse($("#resourcesId").val());
                if (!resourceIds || resourceIds.length == 0) {
                    alert("请选择设备");
                    return false;
                }
                var  pushTypes = $('input:checkbox[name="pushType"]:checked');
                if (!pushTypes) {
                    alert("请选择推送类型");
                    return false;
                }

                var duration = $('#durationTime').numberbox('getValue');


                var pushTypeArr = [];
                pushTypes.each(function() {
                    pushTypeArr.push($(this).val());
                });
                var userNames = $("#tp-user").combobox("getText");
                var detail = {
                    users: openids,
                    userNames: userNames,
                    deviceResource: resourceIds,
                    pushType: pushTypeArr,
                    startTime: {
                        hours: hours,
                        minutes: minutes,
                        seconds: seconds
                    }
                };
                if (duration) {
                    detail.duration = parseInt(duration);
                }
                param.detail = JSON.stringify(detail);
            },
            success: function(result) {
                $.messager.show(
                    {
                        title: '消息',
                        msg: '编辑任务成功',
                        showType: 'fade',
                        style:{
                            right:'',
                            bottom:''
                        }
                    });
                $('#tab').tabs('close', "编辑任务");
                $("#taskGrid").datagrid('reload');
            }
        })
    }



    function openResourceWin() {
        $("#resourceWin").window("open");
        $('#resourceWin').window('refresh', '/html/device/device-select.html');
    }

</script>
</body>
</html>