<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>可视化超清视频管控平台</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="css/report.css">
    <script src="easyui/jquery.min.js"></script>
    <script src="easyui/jquery.easyui.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',title:false, split:true" style="height:100px;">
        <div class="logo">可视化超清视频管控平台</div>
        <div class="loginInfo">
            <ul>
                <li th:text="${session.userSession.name }"></li>
                <li><a href="javascript:exitSystem();">退出</a></li>
            </ul>
        </div>
    </div>
    <div data-options="region:'west',title:'导航',split:true" style="width:200px;">
        <div id="aa" class="easyui-accordion" style="width:300px;height:200px;">
            <div title="用户管理" data-options="selected:true" style="overflow:auto;">
                <ul class="second-menu">
                    <li><a onclick="openPage('用户列表', 'html/user/user.html');">用户列表</a></li>
                </ul>
            </div>
            <div title="设备管理">
                <ul class="second-menu">
                    <li><a onclick="openPage('设备列表', 'html/device/device.html');">设备列表</a></li>
                </ul>
            </div>
            <div title="推送任务" data-options="">
                <ul class="second-menu">
                    <li><a onclick="openPage('任务列表', 'html/task/tasklist.html');">任务列表</a></li>
                    <li><a onclick="openPage('任务日志', 'html/task/tasklog.html')">任务执行日志</a></li>
                    <li><a onclick="openPage('发送报警图片', 'html/task/alarm.html')">发送报警图片</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center',title:''" style="padding:5px;background:#eee;">
        <div id="tab" class="easyui-tabs" style="width:100%;height:100%;">

        </div>
    </div>
</body>
</html>